.view-companies-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 5%;
}

.title {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.main-content {
  margin-top: 4%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.table-container {
  width: 60%;
}
